<div class="container">
    <h2>Wellcome, {{ player.name }}!</h2>

    <table class="player-stats">
        <caption>Stats of player</caption>
        <thead>
            <tr>
                <th>Level</th>
                <th>ATK</th>
                <th>DEF</th>
                <th>Health</th>
                <th>Energy</th>
                <th>XP</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ player.level }}</td>
                <td>{{ player.attackPower }}</td>
                <td>{{ player.deffencePower }}</td>
                <td>{{ player.health }} / {{ player.maxHealth }}</td>
                <td>{{ player.energy }}</td>
                <td>{{ player.experience }}</td>
            </tr>
        </tbody>
    </table>
    
    <router-outlet></router-outlet>
</div>