<div class="menu-options">
  <h3>What do you wanna do?</h3>
  
  <ul>
    <li>
      <button (click)="battle();">Battle!</button>
    </li>
    <li>
      <button>Quest</button>
    </li>
    <li>
      <button (click)="recover();">Recover Health</button>
    </li>
    <li>
      <button>Inventory</button>
    </li>
    <li>
      <button>Store</button>
    </li>
    <li>
      <button>Blacksmith</button>
    </li>
  </ul>
</div>

<!-- <h3>Battle log</h3>
<ul>
  <li *ngFor="let item of battleService.battleLog">{{ item }}</li>
</ul> -->